{% extends "base.html" %}

{% block title%}Resources{% endblock %}

{% block content%}
  <div class='container'>
    <h1>Resources</h1>
    <hr />

    <p>
    <a href="https://www.quandl.com/data/GALLUP/GUNS1-United-States-Household-Gun-Ownership">United States Household Gun Ownership</a>
    </br>
    
    This data set from Gallup examines the number of American households with a gun in the home from 1960 to 2012. The highest ownership rate reported was in 1994, when 54% of households had a gun and the lowest ownership rate was noted in 1999 when 34% of American households had a gun. I found this data in JSON format from Quandl. 
    </p>
    
    <br>

    <p>
    <a href="https://docs.google.com/spreadsheets/d/1chqUZHuY6cXYrRYkuE0uwXisGaYvr7durZHJhpLGycs/edit#gid=0">Small Arms Survey</a>
    </br>
    The Small Arms Survey contains information about gun ownership and murder rates across countries. Specifically, the dataset identifies the number of firearms per 100 people within a country, the number of homicides committed with firearms per 100,000 people, the total number of homicides by firearm, the percentage of homicides by firearms, and more. This dataset is one of the more complete datasets when it comes to gun ownership and homicide rates around the world. However, it is slightly outdated because the data was taken in the year 2007.  
    </p>

  </div>
{% endblock %}