{% extends "base.html" %}

{% block title%}Research Question{% endblock %}

{% block content%}
  <div class="container">
      <h1>Question of Interest</h1>

      <hr />

      <p>
        <b>Are higher gun ownership rates associated with a more violence? </b>
      </p>

      <br>

      <p>My hypothesis is that an increase in the amount of firearms within a country is associated with an increase in violence. To explore this hypothesis, I will investigate relationships in the available data using variables that measure gun ownership and violence in different ways.</p>

  <div>
{% endblock %}