{% extends "base.html" %}

{% block title%}Technical Description{% endblock %}

{% block content%}
	<div class="container">
		<h1>Technical Description</h1>
		<hr />

		<p>The data for this project was taken from two main resources that are described in more detail on the <a href="/methodology">methodology page</a>. I imported the United States Gun Ownership dataset in JSON format from the Quandl API and I read the data into a dictionary using Python. The Small Arms Survey is a large CSV file of data that I used Python to read into dictionaries. Once I read this data into a more manageable format, I used Matplotlib to make graphs to help identify potential patterns that exist in the data. </p>

	</div>
{% endblock %}